<h1>Guest Show Page</h1>

<h4>Guest: <%= @guest.name %></h4>
<h4>Episode appearances: </h4>
    <ul>
        <% @guest.sort_by_highest_appearance_rating.each do |appearance| %>
            <li><%= link_to "#{appearance.episode.date} | Rating: #{appearance.rating}", episode_path(appearance.episode_id) %></li>
        <% end %>
    </ul>

<br>
<button><%= link_to "Log a New Appearance", new_appearance_path, {style: "text-decoration: none" } %></button>
<br><br>
<button><%= link_to "Back to Episode Index", episodes_path, {style: "text-decoration: none" } %></button>
<br><br>
<button><%= link_to "Back to Guest Index", guests_path, {style: "text-decoration: none" } %></button>

