<h1> Episode Number:<%= @episode.number %> </h1>
<h4> Aired: <%= @episode.date %> </h4>

<h2> Guests </h2>
<% @episode.appearances.each do |appearance| %>
<ul>
<li><%= link_to appearance.guest.name, guest_path(appearance.guest) %>, Appearance Rating: <%= appearance.rating %> </li>
</ul>
<% end %>
<br>
<h2> Average Rating for Episode </h2>
<p><%= @episode.average_rating %><p>

<br>
<br>
<%= button_to "Return to Episodes List", episodes_path, {method: :get} %>