<h1> Episode Number:<%= @episode.number %> </h1>
<h4> Aired: <%= @episode.date %> </h4>

<h2> Guests </h2>
<% @episode.guests.each do |guest| %>
<p><%= link_to guest.name, guest_path(guest) %> </p>
<% end %>
<br>
<h2> Average Rating for Episode </h2>
<%= @episode.average_rating %>

<br>
<br>
<%= button_to "Return to Episodes List", episodes_path, {method: :get} %>