<h1>New Appearance Form</h1>

<% if flash[:my_errors] %>
<% flash[:my_errors].each do |error| %>
    <p><%= error %></p>
    <% end %>
<% end %>

<%= form_for @appearance do |f| %>
    Guest Name: <%= f.collection_select(:guest_id, Guest.all, :id, :name) %><br><br>
    
    Episode Number: <%= f.collection_select(:episode_id, Episode.all, :id, :number) %><br><br>
    
    <%= f.label :rating %>
    <%= f.number_field :rating %><br><br>
    
    <%= f.submit %>
<% end %>