
<h1>Log a New Appearance</h1>

<%= form_for @appearance do |f| %>

    <%= f.label :guest_id, "Choose a guest:" %>
    <%= f.collection_select :guest_id, @guests, :id, :name %>
    <br><br>
    <%= f.label :episode_id, "Choose an episode:" %>
    <%= f.collection_select :episode_id, @episodes, :id, :date %>
    <br><br>
    <%= f.label :rating, "Enter rating (1-5):" %>
    <%= f.number_field :rating %>
    <br><br>
    <%= f.submit %> 
<% end %>